# Python
__pycache__/
*.py[cod]
.venv/
.ruff_cache/
.pytest_cache/

# Tooling caches
.tools/

# Generated frontend assets
static/css/app.css

# Env files
.env
.vercel
.env*
!.env.example

# Logs
logs
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
